@charset "UTF-8";

.wrapper{
  width: 1920px;
  height: 100%;
  background-color: #FEFCF0;
}

.main-contianer {
  max-width: 1362px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  background-color: #FEFCF0;
}

.title {
  font-size: 50px;
  font-weight: 600;
  padding: 50px 5px;
  color : "#574E26";
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.item {
  height: 50px;
  border: 1px solid #414040;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  height: 200px;
  position: relative;

  & > a {
    display: block;
    height: 100%;
    /* background-image: url("../../images/logo512.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.item-1 {
  background-image: url("../../images/main/main_1.jpg");
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  grid-column: span 2;
  height : 320px;
}
.item-2 {
  background-image: url("../../images/main/main_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: span 2;
  height: 642px;
}
.item-3 {
  background-image: url("../../images/main/main_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top : 30px;
  height : 280px;
}
.item-4 {
  background-image: url("../../images/main/main_4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top : 30px;
  height : 280px;
}

.item-text {
  position : absolute;
  bottom : 30px;
  font-weight: 700;
}

.item-desc {
  position : absolute;
  bottom : 10px;
  font-size : 14px;
}
