@charset "UTF-8";
.container {
  background-color: #eee;
}

.main-contianer {
  width: 1120px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;

}

.title {
  font-size: 35px;
  font-weight: 700;
  padding: 50px 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.item {
  height: 50px;
  border: 1px solid #414040;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  height: 200px;

  & > a {
    display: block;
    height: 100%;
    background-image: url("../../images/logo512.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.item-1 {
  grid-column: span 2;
}
.item-2 {
  grid-row: span 2;
  height: 411px;
}
