@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.filter_div {
    display: flex;
    margin-left: 180px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 20px
}


.filter_ulist {
    display: flex;

}

.text_color {
    color: #31402A;
    font-weight: 500;
}

.custom-checkbox input[type="checkbox"] {

    margin-right: 13px;
    appearance: none;
    border: 1.5px solid #3F5336;
    border-radius: 0.25rem;
    width: 18px;
    height: 18px;

    &:checked {
        border-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
        background-size: 100% 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: #3F5336;
    }

    ;

}


.btn_filter {
    border: 0.8px solid #698A5B;
    border-radius: 10px;
    width: 80px;
    height: 35px;

    margin-left: 20px;
    background-color: #F6FBF0;
}

.clicked_job {

    position: relative;
    width: 527px;
    height: 394px;
    flex-shrink: 0;

    border-radius: 16px;
    border: 3px solid #372417;
    background: #5E3E28;
    box-shadow: 4px 4px 8px 0px rgba(94, 62, 40, 0.08);
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 400;


}




.title_style {

    color: #31402A;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
}

.job_content {
    margin-bottom: 15px;
}

.clicked_job .pannel_body {
    padding: 0 0 0 212px;
    position: relative;

}

.padding_bottom {}

.filter_depth1 {
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 212px;
    box-sizing: border-box;
    border-right: 1px solid #e5e6e9;
    height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 20px 0 20px;

}

.filter_depth2 {

    position: relative;
    box-sizing: border-box;
    width: 584px;
    vertical-align: top;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;

}

.filter_depth2 .search_detail_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.filter_depth2 .search_detail_empty .empty_container {
    text-align: center;
}

.pannel_bottom {
    margin-top: 250px;
    height: 20px;
    padding: 20px;
    text-align: right;

}

.app_style {
    margin-top: 4px;
    margin-left: 60px;
    background-color: #709361;
    color: #FEFCF0;
    border-radius: 12px;
    width: 79px;
    height: 30px;
}

.btn_reset {
    background-color: #f3f3f4;
    border: 1px solid #f3f3f4;
    border-radius: 5px;
    color: #57595b;
    width: 50px;
    height: 30px;
    margin-right: 8px;
}

.btn_apply {
    background-color: #8cb879;
    border: 1px solid #8cb879;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    width: 45px;
    height: 30px;
}

.filter_depth1_btn {
    width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    padding: 8px 12px;
    text-align: left;
    color: #323438;
    background-color: #fff;

}

.f_b1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.clicked_loc {
    position: relative;
    top: 10px;
    width: 600px;
    height: 515px;

    z-index: 900;
    border: 1px solid #698A5B;
    box-shadow: 0px 6px 48px rgba(30, 40, 58, 0.08);
    border-radius: 8px;
    background-color: #F6FBF0;
    box-sizing: border-box;
}

.item_list {
    box-sizing: border-box;

    padding: 20px 24px;
}

.centered_list {
    margin-left: 10px;
}

.loc_checkbox {
    position: relative;
    display: inline-block;
    width: calc(33.33% - 20px);
    padding-bottom: 12px;

    padding-left: 25px;
    box-sizing: border-box;
}



.Loc_bottom {

    padding: 20px;
    text-align: right;
    border-top: 1px solid #e5e6e9;
}

.reset_loc {
    padding: 9px 12px;
    background-color: #f3f3f4;
    border: 1px solid #f3f3f4;
    border-radius: 5px;
    color: #57595b;
    height: 30px;

}

.apply_loc {
    margin-left: 8px;
    padding: 9px 12px;
    background-color: #8cb879;
    border: 1px solid #8cb879;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    width: 60px;
    height: 30px;
}

.slide_center {
    text-align: center;

}

.wage_slidebar {}

.center {
    text-align: center;
    padding-bottom: 5px;
    color: #31402A;
    font-size: large;
    font-weight: 400;
}

.left {

    display: inline-block;
    padding-right: 250px;
    padding-left: 20px;
    text-align: left;
}

.right {
    text-align: right;
    display: inline-block;
    color: #546E49;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding: 5px;

    border-radius: 6.5px;
}

.wage_title {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    padding-left: 150px;
}

.unit_won {
    padding-left: 6px;
    padding-top: 6px;
    font-size: small;
    color: #3F5336;
}

.wage_slide {
    padding-top: 15px;
    margin-left: 20.5px;
}

.custom_range {

    width: 80%;
    /* Set the desired width for the range input */
    -webkit-appearance: none;
    background: none;
    border: none;
    outline: none;


    &::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 5px solid #546E49;
        background-color: #F8E06C;
        -webkit-appearance: none;
        transform: translateY(-6px);
    }

    &::-webkit-slider-runnable-track {
        height: 4px;
        /* Set the desired height for the track */
        background-color: #546E49;
        /* Set the background color for the track */
        border-radius: 2px;
        /* Set the border radius for the track */
    }

}

.wage_bottom {
    margin-top: 20px;

    padding: 10px;
    text-align: right;
    border: 1px solid #e5e6e9;
    box-shadow: 0px 6px 48px rgba(30, 40, 58, 0.08);
    border-radius: 8px;
}

.clicked_wage {
    position: relative;
    top: 10px;
    width: 400px;
    height: 220px;
    z-index: 900;
    border: 1px solid #698A5B;
    box-shadow: 0px 6px 48px rgba(30, 40, 58, 0.08);
    border-radius: 8px;
    background-color: #F6FBF0;
    box-sizing: border-box;

    min-height: 55px;
    padding: 12px 8px;
}

.wage_reset {
    padding: 9px 12px;
    background-color: #f3f3f4;
    border: 1px solid #f3f3f4;
    border-radius: 5px;
    color: #57595b;
    height: 30px;

}

.wage_apply {
    margin-left: 8px;
    padding: 9px 12px;
    background-color: #8cb879;
    border: 1px solid #8cb879;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    width: 60px;
    height: 30px;
}

.p_style {
    color: #546E49;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding: 5px;

    border-radius: 6.5px;
}

.wage_result {
    color: #8cb879;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
}

.clicked_accomo {

    width: 300px;
    height: 186px;
    border: 1px solid #698A5B;
    z-index: 1000;
    border-radius: 6px;
}

.accomo_list {
    box-sizing: border-box;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 30px;
    margin-bottom: 40px;
    background-color: #F6FBF0;


}


.accomo_content li {
    padding-top: 15px;
}

.accomo_bottom {
    text-align: right;
    height: 50px;

    padding: 10px;

    border: 1px solid #e5e6e9;
    box-shadow: 0px 6px 48px rgba(30, 40, 58, 0.08);
    border-radius: 8px;
}

.accomo_reset {
    border: 1px solid #f3f3f4;
    background-color: #f3f3f4;
    border-radius: 5px;
    color: #57595b;
    height: 30px;
    width: 60px;
    margin-right: 10px;

}

.accomo_apply {
    border: 1px solid #8cb879;
    background-color: #8cb879;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    color: #fff;
    font-weight: bold;

}

.reset {
    color: #85878c;
    font-weight: bold;
    font-size: 15px;
}

.reset_div {
    padding-top: 8px;
    margin-left: 15px;
}

/* -------------- CompanyList Styles ----------*/

.recruitment_content {
    position: relative;
    display: flex;
    margin-left: 100px;

}

.recruitment_content_list {
    min-height: 1100px;
    width: 1300px;
    border-top: 2px solid #698A5B;
    border-radius: 2.5px;


}

.company_center {
    margin-left: 100px;
}

.company_list {
    display: flex;
    width: 1300px;
    margin-top: 20px;
    height: 210px;
    flex-wrap: wrap;

}

.border_bottom {
    width: 600px;
    height: 200px;

}

.item_card {
    display: flex;

    margin-bottom: 20px;
    width: 600px;
    height: 200px;
    /*border: 1px solid #e5e6e9;
    background-color: #8cb879;*/

    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 3px solid #DBE9D5;


}

.item_card2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 600px;
    height: 200px;
    /*border: 1px solid #e5e6e9;
    background-color: #8cb879;*/
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 40px;
}

.item_card_thumbnail {
    position: relative;
    width: 294px;
    height: 180px;
    background-size: 100%;
    margin-top: 10px;
}

.thumbnail_image {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 8;
    width: 294px;
    height: 180px;
    border-radius: 8px;
}


.item_card_information {
    padding: 10px 20px 16px 20px;
    padding-top: 15px;

}


.item_card_title {
    width: 250px;
    color: #323438;
    font-weight: 100;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-bottom: 8px;

}

.colummLine {
    width: 3px;
    /* Adjust the width of the line */
    height: 100%;
    /* Line spans the entire height of the recruitment content */
    background-color: #DBE9D5;
    /* Line color */
    position: absolute;

    left: 44%;
    /* Position the line in the center horizontally */

}

.item_card_location {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
    height: 30px;
    color: #323438;
    background-color: #DBE9D5;
    border-radius: 15px;
    padding: 5px 7px 5px 7px;
    text-align: center;
    margin-bottom: 10px;

}

.item_card_name {
    color: #323438;
    font-weight: 500;

    margin-bottom: 20px;
}

.item_card_wage {
    background-color: #F8E06C;
    border-radius: 5px;
    color: #323438;
    padding: 3px 5px 3px 5px;
    width: 120px;
    height: 30px;
    text-align: center;

}

.background_color {
    background-color: #FFFEF6;
    padding-bottom: 200px;
}

.salary_style {
    color: #31402A;
  
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
   
    /* 290% */

}

.company_color {
    color: #3F5336;
    font-weight: 600;
    font-size: smaller;
}

.text_color {
    color: #31402A;
}